.ErrorCard {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: $color-orange-light;
  @include media(desktop) {
    margin-right: 10px;
  }
  &-message {
    font-size: 14px;
    color: $color-orange-dark;
  }
}