.Aside {
  width: 100%;
  padding: 20px 5px;
  display: inline-block;
  @include media(desktop) {
    padding: 20px 0;
  }
  &-box {
    width: 100%;
    text-align: center;
    color: $color-blue-navy;
    @include media(desktop) {
      width: 310px;
      margin-right: 10px;
      float: left;
      text-align: center;
    }
    &-label {
      font-weight: 700;
    }
    &-content {
      padding: 0 5px;
    }
  }
}