.Header {
  @include media(desktop) {
    margin-right: 10px;
  }
  &-title {
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: $color-blue-navy;
  }
  &-input {
    height: 150px;
  }
}
