$color-argent:                        #EFF2F6;
$color-beige:                         #F9F9FA;
$color-black:                         #061321;
$color-blue:                          #238DF8;
$color-blue-light:                    #E9F3FE;
$color-blue-dark:                     #1D77D2;
$color-blue-navy:                     #002E5C;
$color-bronze:                        #D1AB6E;
$color-gray:                          #DADFE4;
$color-green:                         #14C59C;
$color-green-light:                   #E7F9F5;
$color-green-dark:                    #0D9576;
$color-orange:                        #FEBA4B;
$color-orange-dark:                   #EA9305;
$color-orange-light:                  #FEF8ED;
$color-red-light:                     #FFF2F2;
$color-red:                           #FA4949;
$color-rock:                          #86929D;
$color-silver:                        #C4CED7;
$color-slate:                         #495865;
$color-steel:                         #213343;
$color-white:                         #FFFFFF;
